{% load static %} {% load socialaccount %}

<!DOCTYPE html>
<html>
    <head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5WK14ZDHSP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5WK14ZDHSP');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <title>K-unirank - 대학교 랭킹 투표 사이트</title>
        
        <meta name="description" content="다른 사람들이 생각한 우리 학교의 순위는?">
        <meta name="keywords" content="대학 순위,대학교 순위,국내 대학 순위,국내 대학교 순위,대학 투표,대학교 등급,대학 인지도 순위,대학 인지도,
                                       유니랭크,케이유니랭크,K-unirank,unirank,내 대학교 순위,서연고서성한중경외시건동홍국숭세단광명상가한서삼인가경,
                                       부경전충,충전강경제,대학교 투표">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
        <style type="text/css">
            body {
                  font-family: "Noto Sans KR", sans-serif;
                  
                  font-style: normal;
            }
            .navbar {
                font-weight: bold;
            }
        </style>
        <style type="text/css">
            a {
                cursor: pointer;
            }
            a:link {
                color: black;
                text-decoration: none;
            }
            a:visited {
                color: black;
                text-decoration: none;
            }
            a:hover {
                color: black;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <ins class="kakao_ad_area" style="display:none;"
            data-ad-unit = "DAN-4r2w24dDA1owYfUn"
            data-ad-width = "320"
            data-ad-height = "50"></ins>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">K-unirank</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse justify-content-end"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'vote:school_score' %}">
                            <img src="/media/icon/vote.png" width="20" />    
                                랭킹 투표</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'vote:user_voted' %}">
                            <img src="/media/icon/record.png" width="19" />    
                                투표한 대학</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'account_logout' %}">로그아웃</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% provider_login_url 'google' %}">로그인</a>
                        </li>
                        {% endif %}
                   
                        {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'vote:upload' %}">대학 로고 업로드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'vote:jungsi_pdf_upload' %}">정시 업로드</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'vote:susi_pdf_upload' %}">수시 업로드</a>
                        </li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </nav>
        <br/>
        {% block content %}{% endblock %}
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </body>
</html>