{% extends "vote/base.html" %} {% block content %} {% load humanize %}
{% load static %}

<style>    
    @media (max-width: 576px) {
        html {
            font-size: 14px;
        }
    }
    
    .non-bold {
        font-weight: normal;
    }
    
    .container {
        font-weight: bold;
    }
    
    .schools:hover {
        background: #E2E2E2;
    }
</style>
<br />

<div class="container">
    <div class="row">

            
        <table class="table align-middle">
            <tr class="disabled">
                <th scope="col" class="col-md-1 col-2 text-center">순위</th>
                <th scope="col" colspan="2">대학명</th>
                <th scope="col">점수</th>
            </tr>
            {% for school, rank in myzip %}
            <tr class="schools" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-school-name="{{ school.school_name }}" 
                data-school-image="{% if school.school_image %}{{ school.school_image.url }}{% endif %}"
                data-school-jungsi="{% if school.jungsi_school_pdf %}{{ school.jungsi_school_pdf.url }}{% endif %}"
                data-school-susi="{% if school.susi_school_pdf %}{{ school.susi_school_pdf.url }}{% endif %}">  
                <td width="10%" class="text-center">{{ rank }}</td>

                {% if school.school_image %}
                <td height="100" width="70%" class="school_name">
                    <img src="{{ school.school_image.url }}" style="width: 6vw"/>
                    &nbsp;&nbsp;{{ school.school_name }}
                {% if user.is_authenticated %}
                {% if school in voted_school %}
                <img src="/media/icon/check.png" width="13" />
                {% else %}
                <img src="/media/icon/x.png" width="13" />
                {% endif %}
                {% endif %}
                    
                {% else %}
                <td>
                    <img src="" style="width: 100px" />
                    {{ school.school_name }}
                </td>
                {% endif %}
                
                <td></td>
               
                <td width="10%" class="score"> {{ school.get_average_score|floatformat:3 }}</td>
            </tr>
            
            {% endfor %}
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!--모달 제목-->
        <h5 class="modal-title" id="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--모달 이미지, 내용-->
        <div class="text-center">
            <img id="modalSchoolImage" src="" alt="School Image" style="height: 15vh" />
            <br/>
            <p style="display: inline; font-weight: bold;" id="modalSchoolName"></p>
        </div>
      </div>
      <div class="modal-footer" id="modalFooter">
            <button id="susi" type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="display: none;">수시 결과</button>
            <button id="jungsi" type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="display: none;">정시 결과</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var schoolName = button.data('school-name');
        var schoolImage = button.data('school-image');
        var schoolScore = button.data('school-score');
        var jungsiSchoolPdf = button.data('school-jungsi');
        var susiSchoolPdf = button.data('school-susi');

        var susi = $('#susi');
        var jungsi = $('#jungsi');
        
        var modalFooter = $('#modalFooter');

        $('#modal-title').text(schoolName);
        $('#modalSchoolImage').attr('src', schoolImage ? schoolImage : 'placeholder-image-url');
        $('#modalSchoolName').text(schoolName);

        // 이전에 추가된 버튼들을 제거합니다.
        modalFooter.find('.pdf-button').remove();

        // 수시 PDF 버튼 생성
        if (susiSchoolPdf && jungsiSchoolPdf) {
            var viewJungsiPdfButton = $('<button type="button" class="btn btn-primary pdf-button">정시 결과</button>');
            viewJungsiPdfButton.on('click', function() {
                window.open(jungsiSchoolPdf, '_blank');
            });
            modalFooter.prepend(viewJungsiPdfButton);
            
            var viewSusiPdfButton = $('<button type="button" class="btn btn-primary pdf-button">수시 결과</button>');
            viewSusiPdfButton.on('click', function() {
                window.open(susiSchoolPdf, '_blank');
            });
            modalFooter.prepend(viewSusiPdfButton);
        }
        
        else if (susiSchoolPdf) {
            var viewSusiPdfButton = $('<button type="button" class="btn btn-primary pdf-button">수시/정시 결과</button>');
            viewSusiPdfButton.on('click', function() {
                window.open(susiSchoolPdf, '_blank');
            });
            modalFooter.prepend(viewSusiPdfButton);
        }


    });
});
</script>

{% endblock %}