{% extends "vote/base.html" %} {% block content %} {% load humanize %}

<style>    
    @media (max-width: 576px) {
        .school_name {
            font-size: 13px; /* 작은 폰트 크기로 변경 */
        }
    }
</style>
<br /><br /><br />

<div class="container">
    <div class="row">
        <span>* 이원화 캠퍼스는 투표 대상에서 제외합니다.</span>
        <p>* 대학교의 점수는 사람들의 투표로 결정되며 만점은 401점입니다.</p>
        
        <table class="table align-middle">
            <tr class="disabled">
                <th scope="col" class="col-md-1 col-2">순위</th>
                <th scope="col" colspan="2">로고 / 대학교 이름</th>
                <th scope="col">점수</th>
            </tr>
            {% for school, rank in myzip %}
            <tr>       
                <td width="10%">{{ rank }}</td>

                
                {% if school.school_image %}
                <td width="10%" class="text-center" height="100">
                    <img src="{{ school.school_image.url }}" style="height: 6vw"/>
                </td>
                {% else %}
                <td width="10%">
                    <img src="" style="width: 100px" />
                </td>
                {% endif %}
                 
                <td width="70%" class="school_name">{{ school.school_name }}
                {% if user.is_authenticated %}
                {% if school in voted_school %}
                ✔
                {% else %}
                ❌
                {% endif %}
                {% endif %}
                
                </td>
               
                <td width="10%"> {{ school.get_average_score|floatformat:3 }}</td>
            </tr>
            
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}