{% extends "vote/base.html" %} {% block content %}

    {% if not is_superuser %}
        <script>
            alert('접근 권한이 없습니다.');
            window.location.href = "{% url 'vote:school_list' %}";
        </script>
    {% endif %}
    
<div class="container">
    <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input
                    class="form-control"
                    placeholder="대학교 검색"
                    list="browsers"
                    id="school"
                    name="school"
                />
                <datalist id="browsers">
                    {% for school in schools %}
                    <option value="{{ school.school_name }}"></option>
                    {% endfor %}
                </datalist>
                <input type="file" name="image" class="custom-file-input" id="file" />
                <input type="submit" value="업로드" class="btn btn-outline-primary" />
            </form>
    </div>
</div>

{% endblock %}