{% extends "vote/base.html" %} {% block content %}
{% load mathfilters %}

<style>
    @media (max-width: 576px) {
        html {
            font-size: 13px;
        }
    }
    
    @media (min-width: 577px) {
        
        div.left {
            width: 50%;
            float: left;
            box-sizing: border-box;

            border-color:gray;
        }
        div.right {
            width: 50%;
            float: right;
            box-sizing: border-box;

            border-color:gray;
        }
    }
</style>

<br /><br /><br />
<div class="container">
    <div class="row">

        <div class="left">
            <table class="table">
                <tr>
                    <th scope="col">✔투표한 학교</th>
                </tr>
            {% for school in voted_school %}
                <tr>
                    <form
                        action="{% url 'vote:vote_delete' school.school.pk school.pk %}"
                        method="POST"
                    >
                        {% csrf_token %}
                        <td class="align-middle">{{school.school.school_name}} {{ school.individual_score|add:-402|abs }}등</td>
                        <td><input type="submit" class="btn btn-outline-secondary" value="투표 취소하기" /></td>
                    </form>
                </tr>
            {% endfor %}
            </table>
        </div>
        
        <div class="right">
            <table class="table">
                <tr>
                    <th scope="col">❌투표하지 않은 학교</th>
                </tr>
                {% for not_voted_school in not_voted_schools %}
                <tr>
                    <td>{{not_voted_school.school_name}}</td>
                </tr>
                    {% endfor %}
                
            </table>
        </div>
    </div>
</div>

{% endblock %}