{% extends "vote/base.html" %} {% block content %}
{% load mathfilters %}

<style>
    div.left {
        width: 50%;
        float: left;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 20px;
        border-color:gray;
    }
    div.right {
        width: 50%;
        float: right;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 20px;
        border-color:gray;
    }
</style>

<br /><br /><br />
<div class="container">
    <div class="row">

        <div class="left">
            <br />
            <h3>✔투표한 학교 </h3>
            <hr />
            <br />
            {% for school in voted_school %}
            <div class="col">
                
                <form
                    action="{% url 'vote:vote_delete' school.school.pk school.pk %}"
                    method="POST"
                >
                    {% csrf_token %}
                    <h5>{{school.school.school_name}} {{ school.individual_score|add:-402|abs }}등
                    <input type="submit" class="btn btn-outline-danger" value="투표 취소하기" />
                    </h5>
                    <hr />
                    
                </form>
                                
                
            </div>
            {% endfor %}
        </div>
        <div class="right">
            <br />
            <h3>❌투표 하지 않은 학교</h3>
            <hr />
            <br />

            {% for not_school in not_voted_school %}
            <div class="col">
                <h5>{{not_school.school_name}}</h5>
            </div>
            <hr />
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}