{% extends 'vote/base.html' %} {% block content %}
<br /><br /><br />
<div class="container">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <label for="title" class="form-label" style="font-weight: 1000;">제목<span style="color: #FF0000">*</span></label>
                <input class="form-control" type="text" name="title" id="title" placeholder="제목을 입력해주세요" value="{{ post.title }}" />
                
                <br />

                <label for="content" class="form-label" style="font-weight: 1000;">내용<span style="color: #FF0000">*</span></label>
                <textarea
                    class="form-control"
                    type="content"
                    name="content"
                    id="content"
                    rows="20"
                    placeholder="내용을 입력해주세요"
                >{{ post.content }}</textarea>
            </div>
        </div>
        
        <br />
        
        <div class="row justify-content-end">
            <div class="col-md-2 col-sm-4 text-end">
                <label for="file" class="btn btn-secondary">사진 첨부</label>
                <input type="file" name="image" class="custom-file-input" id="file" style="display: none" />
            </div>

            <div class="col-md-1 col-sm-3 text-end">
                <input type="submit" value="글쓰기" class="btn btn-outline-primary" multiple />
            </div>
        </div>
    </form>
</div>

{% endblock content %}