{% extends 'vote/base.html' %} {% block content %} 

{% if messages %} 
{% for message in messages%}

<script>
    alert('{{ message }}');
</script>

{% endfor %} {% endif %}

<style>
    .hiddenElement {
        display: none;
    }
    
    @media (max-width: 576px) {
        .mobile {
            font-size: 13px; /* 작은 폰트 크기로 변경 */
        }
    }
</style>

<br /><br />
<div class="container">
    <div class="ms-md-5 me-md-5">
        <div class="row">
            <div class="col-12 mb-3">
                <h3>
                    {{ post.title }}
                </h3>
            </div>
        </div>

        <!-- 게시글 출력 -->
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-3">
                {% if post.author.university %}
                    <span style="color: gray;">({{ post.author.university }})</span>
                {% endif %}
                <span>
                    <a href="{% url 'user:other_user_posts' author=post.author.pk %}" 
                       style="cursor: pointer; color: black; text-decoration: none;">{{ post.author }}
                    </a> | {{ post.date | date:'Y.m.d' }}
                </span>
                {% if user == post.author %}
                    <form class="float-end" action="{% url 'community:post_edit' pk=post.pk %}">
                        <input type="submit" value="수정" style="border:none; background-color:transparent; font-size:90%;" />
                        <input type="button" data-bs-toggle="modal" data-bs-target="#delete" value="삭제" style="border:none; background-color:transparent; font-size:90%;" />
                    </form>
                {% endif %}
            </div>
        </div>

        <hr />
        <div class="non">
            {{ post.content }}
        </div>
    
        <br />
        {% if post.get_post_image %}
        {% for image in post.get_post_image %}
        <div>
            <img src="{{ image.image.url }}" width=100% />
        </div>    
        {% endfor %}
        {% endif %}
        
        <br /><br /><br />

            <div>
                <button id="likes" class="btn btn-outline-danger" style="font-size: 80%; font-weight: bold;">
                    ♥ <span id="like-count">{{ post.like }}</span>
                </button>
            </div>
        
        <br/>
        
        <!-- 댓글 작성 -->
        <div class="row">
            <form
                action="{% url 'community:comment_create' pk=post.pk %}"
                method="POST"
                class="mb-0"
            >
                {% csrf_token %}
                <label for="comment" class="form-label" style="font-weight: bold;">댓글 {{ post.get_comment_count }}</label>
                <textarea
                    class="form-control h-75"
                    id="comment"
                    placeholder="댓글을 입력해주세요."
                    name="content"
                ></textarea>
                <br />
                <input type="submit" class="float-end btn btn-primary " value="댓글 등록" />
            </form>
        </div>

        <br /><br /><br /><br /><hr/>

        <div class="row">
            
            <!-- 댓글 출력 -->
            {% for comment in comments %} 
            <div class="col-12 mb-3">
                {% if comment.author.university %}
                    <span class="mobile" style="color: gray;">({{ comment.author.university }})</span>
                {% endif %}
                <a class="mobile" href="{% url 'user:other_user_posts' author=comment.author.pk %}" 
                    style="cursor: pointer; color: black; text-decoration: none;">{{ comment.author }}
                </a>
                <span class="mobile"> | {{ comment.date | date:'Y.m.d'}}</span>
                
                <!-- 유저가 댓글 작성자라면 댓글 삭제 버튼 활성화 -->
                {% if user == comment.author %}
                <form
                    action="{% url 'community:comment_delete' post.pk comment.pk %}"
                    method="POST"
                    style="display: inline;"
                >
                    {% csrf_token %}
                    <input class="mobile" type="submit" value="삭제" style="border:none; background-color:transparent; color:black;" />
                </form>
                {% endif %}
                
                <!-- 대댓글 작성 -->
                <input type="button" class="showButton mobile" value="대댓글" style="border:none; background-color:transparent; color:black;" />
                
                <br />
                <span class="mobile">{{ comment.content }}</span>
                <br />
                
                <form
                    action="{% url 'community:reply_create' post.pk comment.pk %}"
                    method="POST"
                    class="hiddenElement mt-3"
                >
                    {% csrf_token %}
                    <textarea class="form-control" name="content" placeholder="대댓글을 입력해주세요."></textarea>
                    <input type="submit" value="작성" style="border:none; background-color:transparent; font-size:90%;" />
                </form>

                <!-- 대댓글 출력 -->
                {% for reply in comment.get_reply %}
                <div class="row justify-content-end">
                    <div class="col-11 mb-3 mt-3">
                        {% if reply.author.university %}
                            <span style="color: gray;">({{ reply.author.university }})</span>
                        {% endif %}
                        <a href="{% url 'user:other_user_posts' author=reply.author.pk %}" 
                            style="cursor: pointer; color: black; text-decoration: none;">{{ reply.author }}
                        </a>
                         | {{ reply.date | date:'Y.m.d'}}
                        
                        
                        <!-- 유저가 대댓글 작성자라면 대댓글 삭제 버튼 활성화 -->
                        {% if user == reply.author %}
                        <form
                            action="{% url 'community:reply_delete' post.pk reply.pk %}"
                            method="POST"
                            style="display: inline;"
                        >
                            {% csrf_token %}
                            <input type="submit" value="삭제" style="border:none; background-color:transparent; font-size:90%;" />
                        </form>
                        {% endif %}
                        
                        <br />
                        <span>{{ reply.content }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        
            <hr />
            {% endfor %}
        </div>
        <br /><br />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">게시글 삭제</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          게시글을 삭제하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <form action="{% url 'community:post_delete' pk=post.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="삭제" />
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    // 버튼을 클릭하면 숨겨진 요소를 나타나게 하는 함수
        $(".showButton").click(function() {
                $(this).siblings(".hiddenElement").toggle(); // 숨겨진 요소의 표시 상태를 토글(toggle)합니다.
        });
</script>

<script>
    <!-- 좋아요 버튼 비동기로 동작 -->
    $('#likes').click(function () {

        $.ajax({
            type: 'POST',
            url: "{% url 'community:post_detail' pk=post.pk %}",
            data: { 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 좋아요순 정렬
            success: function (data) {
                $("#like-count").text(data.like_count);
            },
        });
    });
</script>

{% endblock content %}