{% extends 'vote/base.html' %} {% block content %}

{% if error %}
<script>
    alert("{{ error }}")
</script>
{% endif %}

<br /><br /><br /><br /><br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12">
            <h3 class="text-center mb-5" style="font-weight: bold;">
                {{ user.username }}
            </h3>
            
            <!-- 대학교 인증에 필요한 정보 전달 -->
            <form method="POST" action="{% url 'user:university_certification' %}">
                {% csrf_token %}
                <div class="form-group" style="font-weight: 1000">
                    <label for="email" class="form-label">이메일<span style="color: #FF0000">*</span></label>
                    <input type="email" name="email" class="form-control" id="email" value="{{ email }}" placeholder="재학 중인 대학교의 이메일을 입력해주세요" />
                    <label for="univName" class="form-label">대학교<span style="color: #FF0000">*</span></label>
                    <input class="form-control" placeholder="대학교 검색" list="browsers" name="univName" id="univName" value="{{ univName }}" />
                        <datalist id="browsers">
                            {% for school in schools %}
                            <option value="{{ school.school_name }}"></option>
                            {% endfor %}
                        </datalist>
                    {% if success %}
                    <label for="code" class="form-label">인증번호<span style="color: #FF0000">*</span></label>
                    <input type="text" name="code" class="form-control" id="code" placeholder="메일로 전송된 인증번호를 입력해주세요" />
                    {% endif %}
                    <input type="submit" value="제출" class="btn btn-outline-success form-control" />
                </div>
            </form>
            <br />

        </div>
    </div>
</div>

{% endblock content %}