{% extends "vote/base.html" %} {% block content %} {% load humanize %}

<br /><br /><br />

<div class="container">
    <div class="row mb-3">
        <h3>♥내가 찜한 글</h3>
    </div>
    
    <!-- 게시글 목록 출력 -->
    {% for post in page_obj %}
    <div class="row mb-1">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">{{ post.title }}
                  <p class="float-end" style="font-size: 13px;">                
                {% if today == post.date.date %}
                    {{ post.date|date:"H:i" }}
                {% else %}
                    {{ post.date|date:"Y.m.d" }}
                {% endif %}
                  </p>
              </h5>
              {% if post.author.university %}
                  <span style="font-size: 13px; color: gray;">({{ post.author.university }})</span>
              {% endif %}
              <span style="font-size: 13px">{{ post.author }} </span>
                <div class="float-end" style="font-size: 15px;">
                    ♥{{ post.like }} 👁{{ post.hit }} 🗨️{{ post.get_comment_count }}
                </div>
            <a href="{% url 'community:post_detail' pk=post.pk %}" class="stretched-link"></a>
          </div>
        </div>
    </div>
    {% endfor %}
    <br />
    
    <!-- 페이지네이션 -->
    <ul class="pagination justify-content-center">
      
    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
      
    {% if page_obj.number == page_obj.paginator.num_pages and page_obj.number|add:-4 > 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:-4 }}">{{ page_obj.number|add:-4 }}</a></li>
    {% endif %}
      
    {% if page_obj.number == page_obj.paginator.num_pages or page_obj.number == page_obj.paginator.num_pages|add:-1 %}
      {% if page_obj.number|add:-3 > 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:-3 }}">{{ page_obj.number|add:-3 }}</a></li>
      {% endif %}
    {% endif %}
      
    {% if page_obj.number|add:-2 >= 1 %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:-2 }}">{{ page_obj.number|add:-2 }}</a></li> 
    {% endif %}
      
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:-1 }}">{{ page_obj.number|add:-1 }}</a></li>
    {% endif %}
      
    
    <li class="page-item active"><a class="page-link">{{ page_obj.number }}</a></li>
    
     
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a></li>
    {% endif %}
    
    {% if page_obj.number|add:2 > page_obj.paginator.num_pages %}
    {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:2 }}">{{ page_obj.number|add:2 }}</a></li>
    {% endif %}
      
    {% if page_obj.number == 1 or page_obj.number == 2 %}
        {% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
                                                                                                              
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:3 }}">{{ page_obj.number|add:3 }}</a></li>
        {% endif %}
    {% endif %}
      
    {% if page_obj.number == 1 and page_obj.number|add:4 <= page_obj.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:4 }}">{{ page_obj.number|add:4 }}</a></li>
    {% endif %}
      
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
      
  </ul>

    <!-- 검색 기능 -->
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <form method="GET" action="{% url 'community:post_list' %}" class="d-flex">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    name="q"
                    id="q"
                />
                <input class="btn btn-outline-primary" type="submit" value="Search" id="submit" />
            </form>
        </div>
    </div>

</div>



{% endblock %}