{% extends 'vote/base.html' %} {% block content %}

{% if error %}
<script>
    alert("{{ error }}")
</script>
{% endif %}

<style>
    .container {
        font-weight: bold;
    }
</style>

<br /><br /><br /><br /><br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12">
            {% if user.university %}
                <h3 class="text-center" style="color: gray;">({{ user.university }})</h3>
            {% endif %}
            <h3 class="text-center mb-5" style="font-weight: bold;">
                {{ user.username }}
            </h3>
            
            <!-- 유저네임 변경 -->
            <form method="POST" action="{% url 'user:change_username' %}" class="mb-2">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="form-label">닉네임<span style="color: #FF0000">*</span></label>
                    <input type="text" name="username" class="form-control" id="username" />
                    <br />
                    <br />
                    
                    <input type="submit" value="수정" class="btn btn-outline-success form-control" />
                </div>
            </form>
            
            <input type="button" class="btn btn-outline-danger form-control" data-bs-toggle="modal" data-bs-target="#delete" value="계정 삭제" />
            <br /><br />
            
            <!-- 대학교 인증 -->
            {% if user.university is None %}
            <a href="{% url 'user:university_certification' %}">대학교 인증하기</a>
            <br /><br />
            {% endif %}
            <a href="{% url 'user:user_posts' %}">내가 작성한 글</a>
            <br /><br />
            <a href="{% url 'user:user_like_posts' %}">내가 찜한 글</a>
            <br /><br />
            
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">계정 삭제</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          계정을 삭제하시겠습니까?
          <br />
          (계정 삭제 시 투표내역이 모두 삭제됩니다.)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <form action="{% url 'vote:user_delete' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="삭제" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}