{% extends "base.html" %} {% block content %}

<style>
            table,
            th,
            td {
                border: 1px solid #D3D3D3;
                border-collapse: collapse;
                text-align: center;
                padding: 10px;
            }
</style>

<br /><br /><br />
<div class="container">
    <div class="row">
        <table style="">
            <tr>
                <td>순위</td>
                <td colspan="2">대학교 이름</td>
                <td>점수</td>
            </tr>
            {% for school in schools %} 
            <tr>
                <td>{{ loop.index }}</td>
                {% if school.school_image %}
                <td width="150" height="70"><img src="{{ url_for('static', filename=school.school_image) }}" style="width: 50px;" /></td>
                {% endif %}
                <td>{{ school.school_name }}</td>
                <td>{{ school.score }}</td>
            </tr>

            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}