{% extends "base.html" %} {% block content %}

<style>
            table,
            th,
            td {
                border: 1px solid #D3D3D3;
                border-collapse: collapse;
                text-align: center;
                padding: 10px;
            }
</style>

<br /><br /><br />
<div class="container">
    <div class="row">
        <table style="">
            <tr>
                <td>순위</td>
                <td>대학교 이름</td>
                <td>점수</td>
            </tr>
            {% for school in schools %} 
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ school.school_name }}</td>
                <td>{{ school.score }}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
    {% endblock %}
</div>